<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li *ngFor="let tempProductCategory of productCategories">

                <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}
                </a>
            </li>

            <li *ngIf="role === 'ROLE_ADMIN'">
                <div *ngIf="role === 'ROLE_ADMIN'">
                    <button class="btn btn-primary btn-md" (click)="openDialog()">+ Add New Category</button>
                </div>
            </li>

        </ul>
    </nav>
</div>